In [78]:
import pandas as pd

df=pd.read_csv("3.11.1.csv")
df

    fuerza del brazo (x)  Levantamiento dinámico (y)
0                   17.3                        71.7
1                   19.3                        48.3
2                   19.5                        88.3
3                   19.7                        75.0
4                   22.9                        91.7
5                   23.1                       100.0
6                   26.4                        73.3
7                   26.8                        65.0
8                   27.6                        75.0
9                   28.1                        88.3
10                  28.2                        68.3
11                  28.7                        96.7
12                  29.0                        76.7
13                  29.6                        78.3
14                  29.9                        60.0
15                  29.9                        71.7
16                  30.3                        85.0
17                  31.3                        85.0
18                  36.0                        88.3
19                  39.5                       100.0
20                  40.4                       100.0
21                  44.3                       100.0
22                  44.6                        91.7
23                  50.4                       100.0
24                  55.9                        71.7

In [79]:
df.describe()

       fuerza del brazo (x)  Levantamiento dinámico (y)
count             25.000000                   25.000000
mean              31.148000                   82.000000
std                9.867207                   14.129549
min               17.300000                   48.300000
25%               26.400000                   71.700000
50%               29.000000                   85.000000
75%               36.000000                   91.700000
max               55.900000                  100.000000

In [117]:
import numpy as np

def calculate_b1(x: list, y:list):
    
    x_mean = np.mean(x)
    y_mean = np.mean(y)

    x = (np.array(x) - x_mean)
    y = (np.array(y) - y_mean)
    
    numerator = np.inner(x,b)
    denominator = np.inner(x,x)

    return numerator/denominator
        
def calculate_b0(x: list, y:list, b1:float):
    
    numerator = np.sum(y)-b1*np.sum(x)
    denominator = len(x)

    return numerator/denominator

In [118]:
b1=calculate_b1(x=df["fuerza del brazo (x)"],y=df["Levantamiento dinámico (y)"])
b1

0.5608977925284184

In [119]:
calculate_b0(x=df["fuerza del brazo (x)"],y=df["Levantamiento dinámico (y)"],b1=b1)

64.52915555832482