In [3]:
nombre = c("Cecilia", "Olga", "Beatriz")
ab = 1:3
cd = 3:5
# crear un data.frame
(B = data.frame(nombre=nombre, ab=ab, cd=cd)) 
B$nombre[2] # Olga
# crear un list con un data.frame incluı ́do
R = list(B=B, ab=ab, cd=cd)
R$B$nombre[1] # Cecilia

  nombre  ab cd
1 Cecilia 1  3
2 Olga    2  4
3 Beatriz 3  5

[1] Olga
Levels: Beatriz Cecilia Olga

[1] Cecilia
Levels: Beatriz Cecilia Olga

In [9]:
R

$B
   nombre ab cd
1 Cecilia  1  3
2    Olga  2  4
3 Beatriz  3  5

$ab
[1] 1 2 3

$cd
[1] 3 4 5

In [13]:
archivo = "http://www.unalmed.edu.co/ndgirald/ Datos/Datos%20curso%20Series%20II/fechaydatos.prn"
G = read.table(archivo, header = TRUE,stringsAsFactors=FALSE)
attach(G)
np = length(x)
fechas = strptime(fecha, "%d/%m/%y")

Warning message in file(file, "rt"):
“URL 'http://www.unalmed.edu.co/ ̃ndgirald/ Datos/Datos%20curso%20Series%20II/fechaydatos.prn': status was 'Couldn't resolve host name'”

ERROR: Error in file(file, "rt"): cannot open the connection to 'http://www.unalmed.edu.co/ ̃ndgirald/ Datos/Datos%20curso%20Series%20II/fechaydatos.prn'

In [ ]:
plot(fechas,x, xaxt="n", panel.first = grid(),type=’l’,ylab=’’) 
axis.POSIXct(1, at=seq(as.Date(fechas[1]),as.Date(fechas[np]), "months"), format="%m/%y")
axis.POSIXct(1, at=seq(as.Date(fechas[1]),as.Date(fechas[np]), "years"), labels = FALSE, tcl = -0.2)

In [16]:
#-------------------------------------------------------------- # programa en R
library(xtable) # para reportar tablas en LaTex para informes library(fRegression) # para estadisticos especiales de regresion
archivo = "http://www.stat.umn.edu/geyer/5102/data/ex5-3.txt" 
D = read.table(archivo,header=T)
attach(D)
m1 = lm(y ~ x1) 
summary(m1) 
print(xtable(m1),digits=4)
m2= lm(y~x1+x2) 
summary(m2) 
print(xtable(m2),digits=4)
m3= lm(y~-1+x1+x2) 
summary(m3) 
print(xtable(m3),digits=4)

Call:
lm(formula = y ~ x1)

Residuals:
     Min       1Q   Median       3Q      Max
-2.38373 -0.73315 -0.00743  0.77291  2.12550

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   2.3778     0.8797   2.703  0.00947 **
x1            1.6979     0.1798   9.446 1.58e-12 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.113 on 48 degrees of freedom
Multiple R-squared:  0.6502,	Adjusted R-squared:  0.6429
F-statistic: 89.22 on 1 and 48 DF,  p-value: 1.584e-12

% latex table generated in R 3.6.3 by xtable 1.8-4 package
% Sun Oct 18 20:38:19 2020
\begin{table}[ht]
\centering
\begin{tabular}{rrrrr}
  \hline
 & Estimate & Std. Error & t value & Pr($>$$|$t$|$) \\
  \hline
(Intercept) & 2.3778 & 0.8797 & 2.70 & 0.0095 \\
  x1 & 1.6979 & 0.1798 & 9.45 & 0.0000 \\
   \hline
\end{tabular}
\end{table}

Call:
lm(formula = y ~ x1 + x2)

Residuals:
     Min       1Q   Median       3Q      Max
-1.89036 -0.67352 -0.05958  0.69110  2.06976

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   0.4342     0.9094   0.477 0.635232
x1            1.4179     0.1719   8.247 1.09e-10 ***
x2            0.6743     0.1688   3.993 0.000227 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.9722 on 47 degrees of freedom
Multiple R-squared:  0.7388,	Adjusted R-squared:  0.7277
F-statistic: 66.48 on 2 and 47 DF,  p-value: 1.987e-14

% latex table generated in R 3.6.3 by xtable 1.8-4 package
% Sun Oct 18 20:38:19 2020
\begin{table}[ht]
\centering
\begin{tabular}{rrrrr}
  \hline
 & Estimate & Std. Error & t value & Pr($>$$|$t$|$) \\
  \hline
(Intercept) & 0.4342 & 0.9094 & 0.48 & 0.6352 \\
  x1 & 1.4179 & 0.1719 & 8.25 & 0.0000 \\
  x2 & 0.6743 & 0.1688 & 3.99 & 0.0002 \\
   \hline
\end{tabular}
\end{table}

Call:
lm(formula = y ~ -1 + x1 + x2)

Residuals:
    Min      1Q  Median      3Q     Max
-1.8970 -0.6143 -0.0547  0.7504  2.1132

Coefficients:
   Estimate Std. Error t value Pr(>|t|)
x1   1.4623     0.1435  10.192 1.36e-13 ***
x2   0.7174     0.1415   5.071 6.33e-06 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.9644 on 48 degrees of freedom
Multiple R-squared:  0.9922,	Adjusted R-squared:  0.9919
F-statistic:  3061 on 2 and 48 DF,  p-value: < 2.2e-16

% latex table generated in R 3.6.3 by xtable 1.8-4 package
% Sun Oct 18 20:38:19 2020
\begin{table}[ht]
\centering
\begin{tabular}{rrrrr}
  \hline
 & Estimate & Std. Error & t value & Pr($>$$|$t$|$) \\
  \hline
x1 & 1.4623 & 0.1435 & 10.19 & 0.0000 \\
  x2 & 0.7174 & 0.1415 & 5.07 & 0.0000 \\
   \hline
\end{tabular}
\end{table}

In [17]:
prueba.t2 = function(y1,y2){
  n1 = length(y1)
  n2 = length(y2)
  yb1 = mean(y1)
  yb2 = mean(y2)
  s1 = var(y1)
  s2 = var(y2)
  s = ((n1-1)*s1 + (n2-2)*s2)/(n1 + n2 -2)
  tst = (yb1 - yb2)/sqrt(s*(1/n1 + 1/n2))
  return(tst)
}

In [19]:
D <- read.csv("salarios.csv", header = TRUE)
class(D)
D$edad

Warning message in file(file, "rt"):
“cannot open file 'salarios.csv': No such file or directory”

ERROR: Error in file(file, "rt"): cannot open the connection

In [20]:
nombre = c("Cecilia", "Olga", "Beatriz")
ab = 1:3
cd = 3:5
help(data.frame)
# crear un data.frame
(B = data.frame(nombre=nombre, ab=ab, cd=cd))
# Acceder al segundo elemento de la columna nombre
B$nombre[2] # Olga
# crear un list con un data.frame incluído
R = list(B=B, ab=ab, cd=cd)
#Acceder al elemento B dentro de la lista y posteriormente al primer elemento
# dentro de la columna nombre dentro del elemento B
R$B$nombre[1] # Cecilia

  nombre  ab cd
1 Cecilia 1  3
2 Olga    2  4
3 Beatriz 3  5

[1] Olga
Levels: Beatriz Cecilia Olga

[1] Cecilia
Levels: Beatriz Cecilia Olga