# 1-3

## 1

In [1]:
x <- 10
a <- 10
b <- 2

In [2]:
z <- x^(a^(b))
z

[1] 1e+100

In [3]:
z <- (x^a)^(b)
z

[1] 1e+20

In [4]:
z1 <- 3*x^3+2*x^2+6*x+1 # 8 operations
z2 <- 1 + x*(6 + x*(2 + 3*x)) # 6 operations
z1 == z2
z <- 1 + x*(6 + x*(2 + 3*x))
z

[1] TRUE

[1] 3261

In [5]:
x <- 9999999999999.99

In [6]:
z <- floor(round((x*10 - floor(x*10))*10))
z

[1] 9

In [7]:
x <- 9999999999999.01

In [8]:
z <- floor(round((x*10 - floor(x*10))*10))
z

[1] 1

In [9]:
x <- 92342349.013

In [10]:
z <- floor(round((x*10 - floor(x*10))*10))
z

[1] 1

In [11]:
z <- z+1
z

[1] 2

In [12]:
c(1:8,7:1)

 [1] 1 2 3 4 5 6 7 8 7 6 5 4 3 2 1

In [13]:
rep(1:5,c(1:5))

 [1] 1 2 2 3 3 3 4 4 4 4 5 5 5 5 5

In [14]:
c1=c(0,1,1)
c2=c(1,0,1)
c3=c(1,1,0)
cbind(c1,c2,c3)

     c1 c2 c3
[1,] 0  1  1
[2,] 1  0  1
[3,] 1  1  0

In [15]:
matrix(c(c1,c2,c3),ncol=3)

     [,1] [,2] [,3]
[1,] 0    1    1
[2,] 1    0    1
[3,] 1    1    0

In [16]:
c1=c(0,0,7)
c2=c(2,5,0)
c3=c(3,0,0)
cbind(c1,c2,c3)

     c1 c2 c3
[1,] 0  2  3
[2,] 0  5  0
[3,] 7  0  0

# Conversión de coordenadas cartesians a polares

$$r = \sqrt{(x^2 + y^2)}$$
$$\theta = tan^{-1}\Big(\frac{y}{x}\Big)$$

In [17]:
vec <- c(cos(pi/4),sin(pi/4) ) 

r <- sqrt((vec[1]^2 + vec[2]^2))
r

[1] 1

In [18]:
theta <- atan(vec[2]/vec[1])*180/pi
theta

[1] 45

In [19]:
1:100

  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
 [55]  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
 [73]  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
 [91]  91  92  93  94  95  96  97  98  99 100

In [20]:
sort(unique(c(seq(2, 100, 2), seq(3, 100, 3),seq(7, 100, 7))))

 [1]   2   3   4   6   7   8   9  10  12  14  15  16  18  20  21  22  24  26  27
[20]  28  30  32  33  34  35  36  38  39  40  42  44  45  46  48  49  50  51  52
[39]  54  56  57  58  60  62  63  64  66  68  69  70  72  74  75  76  77  78  80
[58]  81  82  84  86  87  88  90  91  92  93  94  96  98  99 100

In [21]:
queue <- c("Steve", "Russell", "Alison", "Liam")
queue

[1] "Steve"   "Russell" "Alison"  "Liam"

In [22]:
queue=append(queue, "Barry", after = length(queue))
queue

[1] "Steve"   "Russell" "Alison"  "Liam"    "Barry"

In [23]:
queue=queue[queue!="Steve"]
queue

[1] "Russell" "Alison"  "Liam"    "Barry"

In [24]:
queue = append(queue,"Pam",after = 0)
queue

[1] "Pam"     "Russell" "Alison"  "Liam"    "Barry"

In [25]:
queue = queue[queue!='Barry']
queue

[1] "Pam"     "Russell" "Alison"  "Liam"

In [26]:
queue = queue[queue!='Alison']
queue

[1] "Pam"     "Russell" "Liam"

In [27]:
which(queue=='Russell')

[1] 2

In [28]:
rm(list = ls())
x <- 1
x

[1] 1

In [29]:
x[3] <- 3
x

[1]  1 NA  3

In [30]:
y <- c()
y

NULL

In [31]:
y[2] <- 2
y

[1] NA  2

In [32]:
y[3] <- y[1]
y

[1] NA  2 NA

In [33]:
y[2] <- y[4]
y

[1] NA NA NA

# Ninguna asignación falla salvo esta última

In [34]:
z[1] <- 0
z

ERROR: Error in z[1] <- 0: object 'z' not found