# Ejercicios Actividad II

#### Desarrollar una función en R que reciba dos valores, determine y retorne cuál de los dos valores es el menor (no usar la función min de R).

In [2]:
menor <- function(A,B) {
  if(A < B) {
    return(A)
  }
  else {
    return(B)
  }  
}

menor(20,30)

[1] 20

In [6]:
menor(30,20)

[1] 20

In [9]:
menor(10,10)

[1] 10

#### Programe en R una función que reciba tres valores A, B, y C y retorne el menor (no usar la función min de R).

In [11]:
menor <- function(A,B,C) {
  if((A < B) && (A < C)) {
    return(A)
  }
  else {
    if((B < A) && (B < C)) {
      return(B)
    }
    else {
      return(C)  
    }  
  }  
}

In [12]:
menor(1,2,3)

[1] 1

In [13]:
menor(3,2,1)

[1] 1

In [16]:
menor(2,1,3)

[1] 1

In [17]:
menor(100,10,1000)

[1] 10

##### Programe en R una función que recibe cuatro números y retorne el mayor (no usar la función max de R).

In [18]:
mayor <- function(A,B,C,D) {
  if((A > B) && (A > C) && (A > D) ) {
      return(A)
  }
  else if ((B > A) && (B > C) && (B > D) ) {
      return(B)
  } else if ((C > A) && (C > B) && (C > D) ) {
      return(C)  
  } else {
      return(D)
  }
}

In [19]:
mayor(10,20,30,40)

[1] 40

In [20]:
mayor(40,40,40,40)

[1] 40

In [21]:
mayor(40,30,20,10)

[1] 40

In [24]:
mayor(pi,pi^2,pi^3,pi^pi)

[1] 36.46216

In [25]:
pi^pi

[1] 36.46216

#### Programe en R una función que reciba un número n y retorne la sumatoria de los números enteros comprendidos entre el 1 y n.

In [29]:
suma <- function(n) {
    suma<-0
    for (x in seq(1:n)){
        suma<-suma + x
    }
    return (suma)
}

In [33]:
suma(100) == sum(seq(1:100))

[1] TRUE

#### Desarrolle una función que realice la sumatoria de los números enteros pares comprendidos entre el 1 y n.

In [38]:
suma_pares <- function(n) {
    suma<-0
    for (x in seq(1:n)){
        if (x %% 2 == 0){
            suma<-suma + x
        }
    }
    return (suma)
}

In [50]:
suma_pares(10000)==sum(seq(2,10000,2))

[1] TRUE

#### Desarrolle una función que realice la sumatoria de los números enteros múltiplos de 5, comprendidos entre el 1 y n.

In [60]:
suma_multiplos_cinco <- function(n) {
    suma<-0
    for (x in seq(1:n)){
        if (x %% 5 == 0){
            suma<-suma + x
        }
    }
    return (suma)
}

In [61]:
suma_multiplos_cinco(500)==sum(seq(5,500,5))

[1] TRUE

#### Programe en R una función que genere 20 números al azar entre 1 y 100 y luego calcule cuántos están entre el 1 y 10.

In [100]:
random_in_range <- function(n=20){
    # Obtiene 20 n números entre 0-100 usando una normal centrada en 50 con desviación estándar de 25
    aleatorios<-rnorm(n, mean=50, sd=50)
    lista <- c()
    for (num in aleatorios){
        if (num <= 10 && num >= 1){
            lista <- c(lista,num)
        }
    }
    return (lista)
}

In [102]:
random_in_range()

[1] 3.198733 7.273074

In [103]:
costo <- function(t){
    if (t<1){
        return (0.4)
    } else {
        return (0.4 + (t-1)/4)
    }
}

In [107]:
costo(20)

[1] 5.15

#### Desarrolle una función que reciba un vector de números reales y un número real x, tal que indique el porcentaje de elementos menores o iguales a un valor x.

In [111]:
porcentaje <- function(vector,x){
    contador <- 0
    for (element in vector){
        if (element <= x){
            contador <- contador + 1
        }
    }
    return (contador/length(vector)*100)
}

In [112]:
vec <- c(1.1,2.2,3.3,4.4)

In [113]:
porcentaje(vec,3)

[1] 50

#### Desarrolle una función que permita convertir calificaciones numéricas en alfanuméricas, según la siguiente tabla: A = 19 y 20, B =16, 17 y 18, C = 13, 14 y 15, D = 10, 11 y 12, E = 1 hasta el 9, se asume que la calificación es un número entero que está entre 1 y 20. Es decir, la función debe recibir la calificación entre 1 y 20 y retornar la letra correspondiente.

In [135]:
calificacion <- function(numero){
  numero<-round(numero)
  if( (numero == 19) || (numero == 20)) {
      return("A")
  }
  else if (numero == 16 || numero == 17 || numero == 18) {
      return("B")
  }
  else if (numero == 13 || numero == 14 || numero == 15 ) {
      return("C")  
  }
  else if (numero == 10 || numero == 11 || numero == 12 ) {
      return("D")  
  }     
  else {
      return("E")
  }

}

In [139]:
calificacion(9)

[1] "E"

In [140]:
calificacion(19)

[1] "A"

#### Desarrolle una función que reciba un número natural n (suponiendo que n > 1) y que construya y retorne un vector v de tamaño n tal que vk = vk−1/3 + 0,5 para k = 2,....,n y siendo que v1 = 1.

In [144]:
problema_once.f <- function(n) {
  v<-rep(0,n) # Inicializa un vector con n ceros
  v[1] <- 1
  for(k in 2:n) {
    v[k]<-v[k-1]/3 + 0.5
  }
  return(v)
}

problema_once.f(9)

[1] 1.0000000 0.8333333 0.7777778 0.7592593 0.7530864 0.7510288 0.7503429
[8] 0.7501143 0.7500381

#### Desarrolle una función que recibe una matriz cuadrada A de tamaño n × n y calcule la suma de los elementos de la diagonal. Por ejemplo, la suma de la diagonal de la siguiente matriz:

In [159]:
suma_diagonal <- function(A) {
    is = seq(1,nrow(A))
    js = is
    suma <- 0
    for (i in is){
        for (j in js){
            if (i == j){
                suma <- suma + A[i,j]
            }
        }
    }
    return (suma)
 }

In [160]:
A = matrix(c(1,2,3,4,5,6,7,8,9), nrow=3,"byrow"="true")
A

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [161]:
suma_diagonal(A)

[1] 15

In [164]:
divisible_entre_3 <- function(DF) {
  n<-dim(DF)[1]
  m<-dim(DF)[2]
  cantidad <- 0
  for(i in 1:n) {
    for(j in 1:m) {
      if(DF[i,j] %% 3 == 0) {
        cantidad <- cantidad + 1
      }
    }
  }
  return(cantidad)
}

In [165]:
## Vamos a establecer el directorio
setwd("/home/jovyan/work/tratamiento")
Datos<-read.table("EjemploEstudiantes.csv",header=TRUE,sep=";",dec=",",row.names=1)
divisible_entre_3(Datos)

[1] 8

In [166]:
Datos

       Matematicas Ciencias Espanol Historia EdFisica
Lucia  7.0         6.5      9.2     8.6      8.0
Pedro  7.5         9.4      7.3     7.0      7.0
Ines   7.6         9.2      8.0     8.0      7.5
Luis   5.0         6.5      6.5     7.0      9.0
Andres 6.0         6.0      7.8     8.9      7.3
Ana    7.8         9.6      7.7     8.0      6.5
Carlos 6.3         6.4      8.2     9.0      7.2
Jose   7.9         9.7      7.5     8.0      6.0
Sonia  6.0         6.0      6.5     5.5      8.7
Maria  6.8         7.2      8.7     9.0      7.0

Podemos ver que efectivamente hay 8 entradas divisibles entre 3